body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

.container {
    width: 90%; /* Adjust the width to fill more of the page */
    /* max-width: 600px; */
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    margin-top: 20px;
}

.item {
    grid-column: span 2;
    display: flex;
    align-items: center;
}

.arrow {
    grid-column: span 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

label {
    font-weight: bold;
}

input {
    margin-left: 1em;
    width: 100%;
    padding: 16px; /* Increased padding */
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="number"] {
    appearance: textfield; /* Hide spinners in number inputs */
}

    
#n4 {
    background-color: #f0f0f0;
    font-weight: bold;
}

